{% block xsolve_cookie_message %}
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/xsolvecookieacknowledgement/css/cookie-bar.css') }}" media="all"/>
    <div id="cookie-law-info-bar">
        <p>
            {{ 'cookie.message'|trans({}, 'XsolveCookieAcknowledgementBundle') }}
            <a href="#" id="js-cookie-law-close-button">
                {{ 'cookie.message.accept'|trans({}, 'XsolveCookieAcknowledgementBundle') }}
            </a>
        </p>
    </div>
{% endblock %}

{% block xsolve_cookie_message_js %}
    <script type="text/javascript" src="{{ asset('bundles/xsolvecookieacknowledgement/js/cookie-bar.js') }}">
    </script>
{% endblock %}
