{% block xsolve_cookie_message %}
    <div id="cookie-law-info-bar">
        <p>
            {{ 'cookie.message'|trans({}, 'cookie') }}
            <a href="#" id="cookie-law-close-button">{{ 'cookie.message.accept'|trans({}, '') }}</a>
        </p>
    </div>
    {% block xsolve_cookie_message_js %}
        <script type="text/javascript">
            var cookieBar = document.getElementById('cookie-law-info-bar'),
                button = document.getElementById('cookie-law-close-button');

            function hideCookieBar() {
                cookieBar.style.display = 'none';
            }

            function setCookieAccepted() {
                expiry = new Date();
                expiry.setTime(expiry.getTime()+({{ cookieExpiryTime }} * 60 * 1000));
                document.cookie = "cookie_law_accepted=1; expires=" + expiry.toGMTString();
            }

            function isCookieAccepted () {
                var accepted = document.cookie.replace(/(?:(?:^|.*;\s*)cookie_law_accepted\s*\=\s*((?:[^;](?!;))*[^;]?).*)|.*/, "$1");
                return accepted === '1';
            }

            if (!isCookieAccepted()) {
                button.onclick = function() {
                    hideCookieBar();
                    setCookieAccepted();
                }
            } else {
                hideCookieBar();
            }
        </script>
    {% endblock %}
{% endblock %}